@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");

div#root {
  padding: 0;
}

div.App {
  padding: 0;
}

body {
  background-color: #f2c791;
}

h2 {
  margin: 0;
  padding: 40px 20px 20px;
}

section.support-scale-container {
  background-color: #ffffff;
}

.rating-text {
  font-size: 24px;
}

.support-scale-chart {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 25px 40px 25px;
  background-color: #ffffff;
  font-size: 18px;
  align-items: flex-start;
}

div {
  padding: 0px 15px;
}

.support-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #72858c;
  padding: 40px 0px 40px 0px;
}

.support-rating-input-container {
  margin-bottom: 8.4px;
  padding-bottom: 24px;
}

input[type="number"] {
  width: 50%;
  width: calc(50% - 15%);
  border-radius: 4px;
  border: 0;
  font-size: 24px;
  padding: 8px;
  font-family: "bryant-web", bryant, sans-serif;
  box-shadow: 0 0 0 1pt #eee;
  transition: box-shadow 0.3s;
  background-color: #f6fafd;
}

button {
  background-color: #f2ac29;
  color: black;
  border: 2px solid #bf7315;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  box-shadow: rgba(242, 199, 145, 0.777) 0px 54px 55px,
    rgba(242, 199, 145, 0.777) 0px -12px 30px,
    rgba(114, 133, 140, 0.777) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
  font-family: "Rubik Dirt", cursive;
}

button.submit-support-button:hover {
  background-color: #F2AC29;
  color: black;
}
